.create-account {
  background-color: #333;
  ion-label{
    margin-left: 10px;
  }
  ion-input{
    background-color: #aaaaaa;
  }
  .username_input{
    background: transparent;
  }
  .password_input{
    background: transparent;
  }
  .signin_form{
    width: 300px;
    margin: 0 auto;
    margin-top: 40%;
  }
  .error-box{
    color:red;
  }
  .correct-box{
    color: green;
  }
  .submit_button{
    position: absolute;
    margin: 0 auto;
    margin-left: 110px;
    margin-top: 20px;
    width: 100px;
  }
}
